<aside class="social__blocks d-flex flex-column">

    <section class="social__blocks__instagram text-center p-1 bg-white">
        <a href="#" class="social__blocks__link-instagram mb-2">
            <i class="fab fa-instagram social__blocks__icon-instagram color-dark-dark-90 fa-2x"></i>
        </a>
    </section>

    <section class="social__blocks__facebook text-center p-1 bg-white">
        <a href="#" class="social__blocks__link-facebook">
            <i class="fab fa-facebook-f social__blocks__icon-facebook color-dark-dark-90 fa-2x"></i>
        </a>
    </section>

</aside>