<aside class="social__blocks d-flex flex-column">

    <section class="social__blocks__instagram text-center p-1 bg-white mb-2">
        <a href="//www.instagram.com/buurthaven/" class="social__blocks__link-instagram" target="_blank">
            <i class="fab fa-instagram social__blocks__icon-instagram color-dark-dark-90 fa-2x"></i>
        </a>
    </section>

    <section class="social__blocks__facebook text-center p-1 bg-white">
        <a href="//www.facebook.com/Buurthaven-Amsterdam-354592038671855" class="social__blocks__link-facebook" target="_blank">
            <i class="fab fa-facebook-f social__blocks__icon-facebook color-dark-dark-90 fa-2x"></i>
        </a>
    </section>

</aside>