<aside class="social__blocks d-flex flex-column">
    <section class="social__blocks__facebook">
        <a href="#" class="social__blocks__link-facebook">
            <i class="fab fa-facebook-f social__blocks__icon-facebook text-dark"></i>
        </a>
    </section>
    <section class="social__blocks__instagram">
        <a href="#" class="social__blocks__link-instagram">
            <i class="fab fa-instagram social__blocks__icon-instagram text-dark"></i>
        </a>
    </section>
</aside>