<section class="agenda__grid-container">
    {% for post in posts %}
        <a href="{{ post.link }}" class="agenda__grid-item d-flex" style="background-image: url({{ post.thumbnail.src('medium_large') }});">
                <span class="date">
                        {{ post.StartDate|date('D j F') }}
                </span>
                <span class="title">
                        {{ post.title }}
                </span>
        </a>
    {% endfor %}
</section>