<div class="row">
    {% for post in posts %}
        <a href="{{ post.link }}" class="col-md-4">
            <article style="background-image: url({{ post.thumbnail.src }});" class="frontpage__agenda-block d-flex flex-column justify-content-end">
                <h5 class="frontpage__agenda-date m-0 text-dark">
                    {{ post._eventorganiser_schedule_start_start|date('D j F') }}
                </h5>
                <h3 class="frontpage__agenda-title text-dark">
                    {{ post.title }}
                </h3>
            </article>
        </a>
    {% endfor %}
</div>
