elke
{% spaceless %}
    {% for day in post._eventorganiser_event_schedule.schedule_meta %}
        <span class="dag">
            {% if day == 'MO' %}Maandag{% endif %}
            {% if day == 'TU' %}Dinsdag{% endif %}
            {% if day == 'WE' %}Woensdag{% endif %}
            {% if day == 'TH' %}Donderdag{% endif %}
            {% if day == 'FR' %}Vrijdag{% endif %}
            {% if day == 'SA' %}Zaterdag{% endif %}
            {% if day == 'SU' %}Zondag{% endif %}
        </span>
    {% endfor %}
{% endspaceless %}
<br>
{% if not post.all_day %}
    <span class="tijd">
        van {{ post.StartTime|date('H:i') }}
        {% if post.FinishTime %}
            tot {{ post.FinishTime|date('H:i') }}
        {% endif %}
        uur
    </span>
{% endif %}