{% extends "templates/layouts/base.twig" %}

{% block content %}
    <article class="bg-yellow">
        <h1 class="text-center">{{ post.title }}</h1>
        {{ post.content }}
    </article>
{% endblock %}
