.agenda__grid-container
  display: grid
  grid-template-areas: "first first second" "first first fifth" "third fourth fifth"
  grid-template-columns: 1fr 1fr 1fr

.agenda__grid-item
  height: 350px

.agenda__grid-item-1
  grid-area: first
.agenda__grid-item-2
  grid-area: second

.agenda__grid-item-3
  grid-area: third

.agenda__grid-item-4
  grid-area: fourth

.agenda__grid-item-5
  grid-area: fifth