.evenement
  .evenement__img
    object-fit: cover
    width: 100%
    height: 700px

  .datum
    font-size: 29px

  .evenemt__title-block
    background: var(--pink)
    color: var(--blue)
    padding: 30px 20px
    text-transform: uppercase
    h1
      font-weight: bold
    +not_mobile
      margin-left: -110px
      width: 220px
      text-align: center
      margin-top: 40px
      margin-bottom: 40px