.home
  .buurthaven__logo
    +above_mobile
      max-width: 800px
    +below_tablet
      width: 400px
    +above_mobile
      margin-bottom: 66px

+below_tablet
  .logo__container
    max-width: 400px

.buurthaven__logo
  max-width: 140px

.buurthaven__logo-footer
  width: 140px

.logo__container
  font-size: 22px
  figcaption
    text-align: center
    color: var(--dark)

.logo__link
  margin: auto
  text-decoration: none !important

footer[data-template]
  background: var(--green)

body:not(.home)
  .buurthaven__logo
    margin-bottom: 3rem

body.custom-background:not(.home)
  background-image: none !important
  .main.header_fixed
    padding-top: 117px
.bg-yellow
  background-color: var(--yellow)

.special-big-title
  font-size: 54px
  font-weight: bold
  font-style: italic

header[data-sticky="header"]
  &.fixme
    position: fixed
    top: 0
    width: 100%
    z-index: 999
    background: transparentize(#fff, 0.8)
    height: 104px
    .logo__link
      margin: 0
      margin-left: 2rem
      .logo__container
        figcaption
          display: none
      .buurthaven__logo
        width: 140px

.main.header_fixed
  padding-top: 294px