.home
  .buurthaven__logo
    +not_mobile
      max-width: 800px

.buurthaven__logo
  max-width: 140px

.buurthaven__logo-footer
  width: 140px

.logo__link
  margin: auto

header[data-sticky="header"]
  &.fixme
    position: fixed
    top: 0
    width: 100%
    z-index: 999
    background: transparentize(#fff, 0.8)
    height: 104px
    .logo__link
      .buurthaven__logo
        width: 140px


footer[data-template]
  background: var(--green)

.main.header_fixed
  padding-top: 294px