@import "../helpers/all"

.social__blocks
  position: fixed
  top: 25%
  right: 0
  // This is for all classes starting with, or containing the string "social__blocks__link-"
  a[class*="social__blocks__link-"], a[class^="social__blocks__link-"]
    background: var(--white)
    height: 25px
    width: 25px
